.homepageArrow {
  font-size: 32px;
  height: 10vh;
  animation: float 2s ease-in-out infinite;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.home1 {
  width: 90%;
}

.home1Lower {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 5em 0 0 0;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.home1 form input {
  width: 100%;
}

.home2 {
  height: 180vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
  overflow: hidden;
}

.home2 .prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10vh 0 0 0;
  height: 85vh;
  position: relative;
  background-image: url("../../images/overlay.png"),
      linear-gradient(
        180deg,
        rgba(242, 203, 116, 1) 0%,
        rgba(255, 252, 234, 1) 100%
      );
  border-radius: 15px;
}

.home2 .coinFlip {
  width: 70vw;
  display: flex;
  align-items: flex-end;
}

.home2 .coinFlip .coinVideo {
  width: 100%;
  height: 100%;
}

.home2 .coinFlip .coinImg {
  width: 100%;
}

.home2 .pricesButton {
  width: 100%;
}

.home2 .pricesHomeText {
  font-size: 25px;
}

.home2 .pricesArrow {
  position: absolute;
  font-size: 40px;
  animation: float 2s ease-in-out infinite;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
}

.home2 .bitcoinArrow {
  position: absolute;
  font-size: 40px;
  animation: float 2s ease-in-out infinite;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
}

.home2 .bitcoinDetailsUpper {
  margin: 10vh 0 0 0;
  height: 85vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../images/overlay.png"),
      linear-gradient(
        180deg,
        rgb(211, 211, 211) 0%,
        rgb(234, 245, 255) 100%
      );
  border-radius: 15px;
}

.home2 .bitcoinDetails {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 15px;
}

.home2 .bitcoinDetails a {
  color: rgb(66, 132, 207);
  text-decoration: underline 1px;
}

.home2 .bitcoinDetails h1 {
  font-size: 30px;
}

.home2 .bitcoinLink button {
  width: 100%;
}

.home3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
}

.home3 .home3lower {
  margin: 10vh 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 90%;
  height: 85vh;
  background-image: url("../../images/overlay.png"),
      linear-gradient(180deg, rgb(211, 211, 211) 0%, rgb(255, 255, 228) 100%);
}

.home3 .inflationHome {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 8px;
}

.inflationHome button {
  font-size: 14px;
}

.home3 .inflationHomeText {
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .homepage .homepageArrow {
    font-size: 1000px;
  }

  .home2 .pricesHomeText {
    font-size: 45px;
  }

  .home2 .coinFlip {
    width: 50%;
  }

  .home2 .pricesArrow, .home2 .bitcoinArrow  {
    font-size: 80px;
    bottom: 0;
  }

  .bitcoinDetailsUpper {
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .home2 .bitcoinDetails {
    padding: 0 5em;
  }

  .home2 .bitcoinDetails h1 {
    font-size: 40px;
  }

  .home2 .bitcoinDetails p {
    font-size: 20px;
  }

  .home3 .inflationHomeText {
    font-size: 45px;
  }

  .inflationHome {
    width: 100%;
  }

  .inflationHome button {
    font-size: 22px;
    margin: 0 0 1em 0;
  }
}

@media screen and (min-width: 1024px) {

  .home2 .pricesArrow, .home2 .bitcoinArrow {
    font-size: 40px;
  }

  .home1 {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    height: 90vh;
  }

  .home1Lower {
    height: fit-content;
    width: fit-content;
  }

  .landingForm input {
    width: 300px;
  }

  .home2 {
    gap: 10vh;
    width: 100vw;
    overflow: visible;
  }

  .home2 .prices {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 900px;
    aspect-ratio: 1;
    border-radius: 30px;
    background-image: url("../../images/overlay.png"),
      linear-gradient(
        180deg,
        rgba(242, 203, 116, 1) 0%,
        rgba(255, 252, 234, 1) 100%
      );
    transition: 0.3s ease;
  }
  
  .home2 .prices:hover,
  .bitcoinDetailsUpper:hover,
  .home3lower:hover {
    transform: translateY(-2%);
    filter: drop-shadow(0px 1px 15px rgb(226, 226, 226));
  }

  .home2 .prices .coinFlip {
    width: 40%;
    display: flex;
    align-items: flex-end;
  }

  .coinFlip video {
    width: 100%;
    height: 100%;
  }

  .home2 .prices .pricesLower {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: fit-content;
    padding: 2em;
    backdrop-filter: blur(500px);
    border: 1px solid rgb(160, 153, 54);
    border-radius: 20px;
    transition: 0.3s ease;
  }

  .home2 .prices .pricesLower h1 {
    font-size: 40px;
  }

  .home2 .bitcoinDetailsUpper {
    width: 900px;
    aspect-ratio: 1;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    position: relative;
    transition: 0.3s ease;
  }

  .home2 .bitcoinDetails {
    max-width: 600px;
    height: fit-content;
    padding: 1em;
    backdrop-filter: blur(500px);
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    transition: 0.3s ease;
  }

  .home2 .bitcoinDetails h1 {
    font-size: 35px;
  }

  .home2 .bitcoinDetails p {
    font-size: 20px;
  }

  .home3 .home3lower {
    width: 900px;
    flex-direction: row-reverse;
    transition: 0.3s ease;
  }

  .home3 .inflationHome {
    width: fit-content;
    align-items: flex-end;
  }

  .home3 .inflationHome h1 {
    font-size: 38px;
  }
}
