@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Space+Grotesk:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  border-bottom: 1px solid rgb(206, 206, 206);
  font-size: 26px;
}

.App {
  display: flex;
  flex-direction: column;
}

/* header */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarClosed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  background-color: rgb(255, 255, 112);
  position: fixed;
  right: -400px;
  bottom: 0;
  height: 100vh;
  width: 70vw;
  transition: right 1s cubic-bezier(.38,.01,0,.99);
}

.navbarOpen {
  right: 0;
}

.navbarIcon {
  font-size: 35px;
  margin: 10px 5px;
  transform: rotate(90deg);
  z-index: 1;
  transition: transform 1s cubic-bezier(.27,.01,.14,1.52);
}

.navbarIconRotate {
  transform: rotate(270deg);
}

.navbarLinks {
  font-size: 36px;
  padding: .5em;
}

/* route page */

/* home page */

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}